<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>FARM FRNDZ</title>

        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="static/css/fontAwesome.css">
        <link rel="stylesheet" href="static/css/light-box.css">
        <link rel="stylesheet" href="static/css/templatemo-main.css">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>
    
    <nav>  

        <ul>       
            <li><a href="index"><i class="fa fa-home"></i> <em>Home</em></a></li>
            <li><a href="index#2"><i class="fa fa-user"></i> <em>About Us</em></a></li>
            <li><a href="index#3"><i class="fa fa-pencil"></i> <em>Services</em></a></li>
            <li><a href="index#4"><i class="fa fa-envelope"></i> <em>Contact</em></a></li>
            <li><a href="home"><i class="fa fa-leaf"></i> <em>Predict</em></a></li>
            
          </ul>
        </nav>

  <div class="slides">
      <div class="slide" id="1"  style="background-image: url(static/img/1st-section.jpg);">
            <div class="content first-content">
                <div class="container-fluid">
                    <h3><center>pH Prediction Page</center></h3>
                    <div class="col">
                        <form id="image" action="/upload" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6">
                                    
                                    <h4>Select a file to upload</h4>
                                    <dl>

                                        <input type="file" name="file" class="form-control" autocomplete="off" required>
                        
                                    </dl>
                                    <input type="submit" value="Submit" class="btn btn-info">                                                                      

                                </div>
                                
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>

        <div class="footer">
          <div class="content">
              <p>Copyright &copy; 2023 Farm Frndz</p>
          </div>
        </div>
 
   
</body>
</html>