<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>FARM FRNDZ</title>

        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="static/css/fontAwesome.css">
        <link rel="stylesheet" href="static/css/light-box.css">
        <link rel="stylesheet" href="static/css/templatemo-main.css">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>

  
        <nav>  
        
        <ul>       
            <li><a href="#1"><i class="fa fa-home"></i> <em>Home</em></a></li>
            <li><a href="#2"><i class="fa fa-user"></i> <em>About Us</em></a></li>
            <li><a href="#3"><i class="fa fa-pencil"></i> <em>Services</em></a></li>
            <li><a href="#4"><i class="fa fa-envelope"></i> <em>Contact</em></a></li>
            <li><a href="home"><i class="fa fa-leaf"></i> <em>Predict</em></a></li>
            <li><a href="ferti"><i class="fa fa-bug"></i> <em>Fertilizer</em></a></li>
          </ul>
        </nav>
        
        <div class="slides">
           
          <div class="slide" id="1" style="background-image: url(static/img/1st-section.jpg);">
            <div class="content first-content">
              <div class="container-fluid">
                     
                      <h2>FARM FRNDZ</h2>
                      <p><span><em>Machine Learning </em>Crop prediction web app</span></p>
                      <div class="main-btn"><a href="#2">Discover More</a></div>
                  
              </div>
            </div>
          </div>
          <div class="slide" id="2" style="background-image: url(static/img/2nd-section.jpg);">
            <div class="content second-content">
                <div class="container-fluid">
                    
                        <div class="left-content">
                            <h2>About Us</h2>
                            <p>Farm Frndz is a web app that predicts the crop to be yielded and fertilizers to the predicted crop. 
                                Here are the following things provided by the web app.</p>
                                <ul>
                                    <p><li>  Farmers can predict crop from pH value</li></p>                             
                                    <p><li>  Basic nutrient fertilizers are also predicted</li></p>
                                    <p><li>  Naive users can aslo use the web app</li></p>
                                </ul>
                          <div class="main-btn"><a href="#3">Our services</a></div>
                      </div>
                    </div>
                    
                
            </div>
          </div>
          <div class="slide" id="3" style="background-image: url(static/img/5th-section.jpg);">
            <div class="content third-content">
                <div class="container-fluid">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="first-section">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="left-content">
                                                <h2>pH Prediction</h2>
                                                <p>The farmer needs to perform a manual soil test with litmus paper and distilled water. Upload the image of litmus paper to determine the pH of the soil.</p>
                                                <div class="main-btn"><a href="home">Predict</a></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="right-image">
                                                <img src="static/img/pH.webp" alt="pH">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="second-section">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="left-image">
                                                <img src="static/img/crop.jpeg" alt="crop">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="right-content">
                                                <h2>Crop Prediction</h2>
                                                <p>Once the pH is determined from the image,the farmer can use the pH value as input and predict the required crop.</p>
                                                <div class="main-btn"><a href="home">Predict</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><br><br><br>
                            <div class="first-section">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="left-content">
                                                <h2>Fertilizer Prediction</h2>
                                                <p>If the pH value and crop is known to the farmer, he/she can give them as inputs to determine the NPK values and predict the amount of basic nutrient fertilizers to be used for the production.</p>
                                                <div class="main-btn"><a href="ferti">Predict</a></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="right-image">
                                                <img src="static/img/ferti.jpeg" alt="ferti">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="second-section">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="left-image">
                                                <img src="static/img/fast.jpg" alt="support">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="right-content">
                                                <h2>Fast Support 24/7</h2>
                                                <p>The farmers can perform test any time they want and as many times they want.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="slide" id="4" style="background-image: url(static/img/1st-section.jpg);">
            <div class="content fifth-content">
                <div class="container-fluid">
                    <div class="col-md-6">
                        <div id="map">
                         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19116.30410535548!2d77.71073436136325!3d13.007542688838406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae11aeab858e35%3A0xf8f534df379561ed!2sCambridge%20Institute%20of%20Technology%20-%20CIT!5e0!3m2!1sen!2sin!4v1679985678027!5m2!1sen!2sin" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
                      </div>
                    </div>
                    <div class="col-md-6">
                        <form id="contact" action="" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                  <fieldset>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                                  </fieldset>
                                </div>
                                 <div class="col-md-12">
                                  <fieldset>
                                    <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject..." required="">
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Send Now</button>
                                  </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>

        <div class="footer">
          <div class="content">
              <p>Copyright &copy; 2023 Farm Frndz</p>
          </div>
        </div>
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script type="text/javascript">
    $(document).ready(function() {
     
        // navigation click actions 
        $('.scroll-link').on('click', function(event){
            event.preventDefault();
            var sectionID = $(this).attr("data-id");
            scrollToID('#' + sectionID, 750);
        });
        // scroll to top action
        $('.scroll-top').on('click', function(event) {
            event.preventDefault();
            $('html, body').animate({scrollTop:0}, 'slow');         
        });
        // mobile nav toggle
        $('#nav-toggle').on('click', function (event) {
            event.preventDefault();
            $('#main-nav').toggleClass("open");
        });
    });
    // scroll function
    function scrollToID(id, speed){
        var offSet = 0;
        var targetOffset = $(id).offset().top - offSet;
        var mainNav = $('#main-nav');
        $('html,body').animate({scrollTop:targetOffset}, speed);
        if (mainNav.hasClass("open")) {
            mainNav.css("height", "1px").removeClass("in").addClass("collapse");
            mainNav.removeClass("open");
        }
    }
    if (typeof console === "undefined") {
        console = {
            log: function() { }
        };
    }
    </script>
</body>
</html>